@using Entities;
@model  SteamStore.WebUI.Models.IndexViewModel
@using SteamStore.WebUI.Halpers
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Catalog";
}
<div class="catalog-container displayflex">
    <h2 class="catalogtitle">Игры</h2>
    @*<div class="game-sort" id="game-sort">
        <div class="game-sort-item">Новинки</div>
        <div class="game-sort-item">Ожидаемые</div>
    </div>*@
    <div class="games-container displayblock">
        @foreach (var p in @Model.Games)
        {
            <a href="@Url.Action("GameProfile","Game", new { id = p.GameId})" class="catalog-item">
                <div class="catalog-img">
                    @Html.Raw("<img class='gamesimg' src=\"data:image/jpeg;base64,"
                              + p.Image + "\" />")
                </div>
                <div class="catalog-name">
                    <span class="game-title">@p.Name</span>
                    <div class="catalog-category">
                        <img src="~/Content/images/game-category.png" alt="gamecategory" class="gamecategory">
                        <p>@p.Category</p>
                    </div>
                </div>
                <div class="price-container">
                    @if (p.Discount != 0)
                    {
                        <div class="catalog-price"><s>@p.Price.ToString("#.##")</s><img src="~/Content/images/rub.png" alt="rub"></div>
                        <div class="catalog-price"><span>@((p.Price - (p.Price / 100 * p.Discount)).ToString("#.##"))</span><img src="~/Content/images/rub.png" alt="rub"></div>
                    }
                    else
                    {
                        <div class="catalog-price"><span>@p.Price.ToString("#.##")</span><img src="~/Content/images/rub.png" alt="rub"></div>
                    }
                </div>
            </a>
        }
    </div>
    <div class="games-container displaynone">
        @foreach (var p in @Model.Games.Take(2))
        {
            <a href="@Url.Action("GameProfile","Game", new { id = p.GameId})" class="catalog-item">
                <div class="catalog-img">
                    @Html.Raw("<img class='gamesimg' src=\"data:image/jpeg;base64,"
                              + p.Image + "\" />")
                </div>
                <div class="catalog-name">
                    <span class="game-title">@p.Name</span>
                    <div class="catalog-category">
                        <img src="~/Content/images/game-category.png" alt="gamecategory" class="gamecategory">
                        <p>@p.Category</p>
                    </div>
                </div>
                <div class="catalog-price"><span>@p.Price.ToString("#.##")</span><img src="~/Content/images/rub.png" alt="rub"></div>
            </a>
        }
    </div>
    @if (User.Identity.IsAuthenticated && @Roles.Provider.IsUserInRole(User.Identity.Name, "Admin"))
    {
        <div class="buttoncontainer">
            <div class="addlinkbutton"> @Html.ActionLink("Добавить игру", "AddGame", "Game", null, new { @class = "addgamelink" })</div>
        </div>
    }
</div>
<div class="search-panel">
    <div class="toggle-panel">
        <span class="search-icon">
            <i class="fa fa-arrow-right" aria-hidden="true"></i>
        </span>
        <span class="toggle-text">Поиск</span>
    </div>
    <div style="position: absolute; top: 10px">
        <div class="search-input">
            <div>
                <label for="search-segment">Поиск игры</label>
                <input type="text" id="search-segment" name="search-segment" value="" />
            </div>
            <div class="addlinkbutton find-game-btn">Найти</div>
        </div>
    </div>
    <div class="filters-panel">
        <div style="margin-bottom: 20px">
            <label class="custom-checkbox">
                Экшены
                <input type="checkbox" data-value="1">
                <span class="chckmark"></span>
            </label>
            <label class="custom-checkbox">
                Стратегии
                <input type="checkbox" data-value="2">
                <span class="chckmark"></span>
            </label>
            <label class="custom-checkbox">
                RPG
                <input type="checkbox" data-value="3">
                <span class="chckmark"></span>
            </label>
        </div>
        <b>Цена:</b>
        <div class="price-value">
            <div>
                <label for="fromt">От</label>
                <input type="number" id="from" name="from" value="" />
            </div>
            <div>
                <label for="to">До</label>
                <input type="number" id="to" name="to" value="" />
            </div>
        </div>
        <div class="addlinkbutton find-game-btn" id="filter-btn">Отфильтровать</div>
    </div>
</div>
<div class="btn-group pagination">
    @Html.PageLinks(Model.PageInfo, x => Url.Action("Catalog", "Game", new { page = x }))
</div>
<script>
    let catalogItemsContainer = document.getElementById('game-sort');
    let catalogItems = document.querySelectorAll(".game-sort-item");
    let catalogs = document.querySelectorAll(".games-container");

    catalogItems[0].classList.add("active-tab");
    catalogItemsContainer.addEventListener("click", (e) => {
        if (e.target !== e.currentTarget) {
            catalogItems.forEach(item => {
                if (item.classList.contains('active-tab')) {
                    item.classList.remove("active-tab");
                }
            })
            e.target.classList.add("active-tab");
            if (catalogItems[0].classList.contains('active-tab')) {
                catalogs[0].classList.add("displayblock");
                catalogs[1].classList.remove("displayblock");
                catalogs[1].classList.add("displaynone");
            }
            if (catalogItems[1].classList.contains('active-tab')) {
                catalogs[1].classList.add("displayblock");
                catalogs[0].classList.remove("displayblock");
                catalogs[0].classList.add("displaynone");
            }
        }
    });

    let toggleButton = document.querySelector(".toggle-panel");
    let searchPanel = document.querySelector(".search-panel");
    toggleButton.addEventListener("click", () => {
        if (searchPanel.classList.contains("open")) {
            searchPanel.classList.remove("open");
            searchPanel.style.left = "-250px";
            document.querySelector(".search-icon").innerHTML = `<i class="fa fa-arrow-right" aria-hidden="true"></i>`
        } else {
            searchPanel.classList.add("open");
            searchPanel.style.left = "0px";
            document.querySelector(".search-icon").innerHTML = `<i class="fa fa-arrow-left" aria-hidden="true"></i>`
        }
    });

    const findGameBtn = document.querySelector(".find-game-btn");
    findGameBtn.addEventListener("click", (e) => {
        const inputValue = document.querySelector("#search-segment");
        e.preventDefault();
        $.ajax({
            url: `@Url.Action("GameSearch", "Game")`,
            type: "POST",
            data: JSON.stringify({ Value: inputValue.value }),
            contentType: "application/json",
            success: (data) => {
                let resultString = '';
                const gamesContainer = document.querySelector(".games-container");
                for (let game of data) {
                    resultString += `
                        <a href=@Url.Action("GameProfile","Game")/${game.GameId} class="catalog-item">
                <div class="catalog-img">
                   <img class='gamesimg' src=\"data:image/jpeg;base64,${game.Image}\" />
                </div>
                <div class="catalog-name">
                    <span class="game-title">${game.Name}</span>
                    <div class="catalog-category">
                        <img src="../../Content/images/game-category.png" alt="gamecategory" class="gamecategory">
                        <p>${game.Category}</p>
                    </div>
                </div>
                <div class="price-container">
                    ${game.Discount != 0 ? `<div class="catalog-price"><s>${game.Price}</s><img src="~/Content/images/rub.png" alt="rub"></div>
                        <div class="catalog-price"><span>${((game.Price - (game.Price / 100 * game.Discount)))}</span><img src="../../Content/images/rub.png" alt="rub"></div>`
                        : `<div class="catalog-price"><span>${game.Price}</span><img src="../../Content/images/rub.png" alt="rub"></div>`}
                </div>
            </a>
                    `
                }
                inputValue.value = '';
                gamesContainer.innerHTML = resultString;
            }
        })
    })
    const filterBtn = document.querySelector("#filter-btn");
    filterBtn.addEventListener("click", () => {
        const checkBoxes = document.querySelectorAll(".custom-checkbox input");
        let categories = [];
        checkBoxes.forEach(chk => {
            if (chk.checked) {
                categories.push(+chk.getAttribute("data-value"));
            }
        })
        const priceFrom = document.getElementById("from").value;
        const priceTo = document.getElementById("to").value;
        $.ajax({
            url: `@Url.Action("GamesFilter", "Game")`,
            type: "POST",
            data: JSON.stringify({ Categories: categories, PriceFrom: priceFrom, PriceTo: priceTo }),
            contentType: "application/json",
            success: (data) => {
                let resultString = '';
                const gamesContainer = document.querySelector(".games-container");
                for (let game of data) {
                    resultString += `
                        <a href=@Url.Action("GameProfile","Game")/${game.GameId} class="catalog-item">
                <div class="catalog-img">
                   <img class='gamesimg' src=\"data:image/jpeg;base64,${game.Image}\" />
                </div>
                <div class="catalog-name">
                    <span class="game-title">${game.Name}</span>
                    <div class="catalog-category">
                        <img src="../../Content/images/game-category.png" alt="gamecategory" class="gamecategory">
                        <p>${game.Category}</p>
                    </div>
                </div>
                <div class="price-container">
                    ${game.Discount != 0 ? `<div class="catalog-price"><s>${game.Price}</s><img src="~/Content/images/rub.png" alt="rub"></div>
                        <div class="catalog-price"><span>${((game.Price - (game.Price / 100 * game.Discount)))}</span><img src="../../Content/images/rub.png" alt="rub"></div>`
                        : `<div class="catalog-price"><span>${game.Price}</span><img src="../../Content/images/rub.png" alt="rub"></div>`}
                </div>
            </a>
                    `
                }
                gamesContainer.innerHTML = resultString;
                priceFrom.value = '';
                priceTo.value = '';
                checkBoxes.forEach(chk => chk.checked = false);
            }
        })
    })
</script>
