@using Entities;
@model  SteamStore.WebUI.Models.IndexViewModel
@using SteamStore.WebUI.Halpers
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Catalog";
}
<div class="catalog-container">
    <h2 class="catalogtitle">Игры</h2>
    <div class="game-sort" id="game-sort">
        <div class="game-sort-item">Новинки</div>
        <div class="game-sort-item">Ожидаемые</div>
    </div>
    @foreach (var p in @Model.Games)
    {
        <a href="@Url.Action("GameProfile","Game", new { id = p.GameId})" class="catalog-item">
            <div class="catalog-img">
                @Html.Raw("<img class='gamesimg' src=\"data:image/jpeg;base64,"
                + p.Image + "\" />")
            </div>
            <div class="catalog-name">
                <span class="game-title">@p.Name</span>
                <div class="catalog-category">
                    <img src="~/Content/images/game-category.png" alt="gamecategory" class="gamecategory">
                    <p>@p.Category</p>
                </div>
            </div>
            <div class="catalog-price"><span>@p.Price.ToString("#.##")</span><img src="~/Content/images/rub.png" alt="rub"></div>
        </a>
    }
    @if (User.Identity.IsAuthenticated && @Roles.Provider.IsUserInRole(User.Identity.Name, "Admin"))
    {
        <div class="buttoncontainer">
            <div class="addlinkbutton"> @Html.ActionLink("Добавить игру", "AddGame", "Game", null, new { @class = "addgamelink" })</div>

        </div>
    }
</div>
<div class="btn-group pagination">
    @Html.PageLinks(Model.PageInfo, x => Url.Action("Catalog", "Game", new { page = x }))
</div>
<script>
    let catalogItemsContainer = document.getElementById('game-sort');
    let catalogItems = document.querySelectorAll(".game-sort-item");
    catalogItems[0].classList.add("active");
    catalogItemsContainer.addEventListener("click", (e) => {
        if (e.target !== e.currentTarget) {
            catalogItems.forEach( item => {
                if (item.classList.contains('active')) {
                    item.classList.remove("active");
                }
            })
            e.target.classList.add("active");
        }
});
</script>
