@using Entities;
@model Game
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Game profile";
}
<div class="background-image">
    <a href="#">
        @Html.Raw("<img class='background-img' src=\"data:image/jpeg;base64,"
  + @Model.BackgroundImage + "\" />")
    </a>
</div>
<div class="gameprofile-container">
    <h1 class="gametitle">@Model.Name</h1>
    <div class="gameProfileItem">
        <div class="gameprofile-left">
            <div class="profileimage">
                <a href="#">
                    @Html.Raw("<img class='gamesimg' src=\"data:image/jpeg;base64," + @Model.ProfileImage + "\" />")
                </a>
            </div>
            <div class="gameprofiletextcontainer">
                <div class="gameprofiletext">
                    <div class="gamegenrekey">
                        <p>Жанр</p>
                        <p>Издатель</p>
                    </div>
                    <div class="gamegenrevalue">
                        <p>@Model.Category</p>
                        <p>@Model.Producer</p>
                    </div>
                </div>
                <div class="gamerating">
                    <p>Рейтинг: 12+</p>
                </div>
            </div>
        </div>
        <div class="gameprofile-right">
            <div class="gameitemcontainer">
                <div class="infocard">
                    <ul>
                        <li class="checkmark">Наличие: много</li>
                        <li class="key">Лицензионный ключ активации в Social Club</li>
                        <li class="letter">Моментальная доставка на e-mail</li>
                        <li class="procent">Накопительная скидка до 10%</li>
                    </ul>
                </div>
                <div class="shopcontainer">
                    @if (Model.Discount != 0)
                    {
                        <div class="price"><s>@Model.Price.ToString("#.##")</s> <span class="rub">руб.</span></div>
                        <div class="price">@((Model.Price - (Model.Price / 100 * Model.Discount)).ToString("#.##")) <span class="rub">руб.</span></div>
                    } else
                    {
                        <div class="price">@Model.Price.ToString("#.##") <span class="rub">руб.</span></div>
                    }
                    <div class="buttoncontainer">
                        @Html.ActionLink("Купить", "OrderForm", "Order", new { @id = Model.GameId }, new { @class = "buy" })

                        <a href="#" id="addtocart" data-gameId="@Model.GameId" class="addtocart">
                            <svg xmlns="http://www.w3.org/2000/svg"
                                 width="31" height="20" viewBox="0 0 37.438 26.646">
                                <path fill="none" stroke="white" stroke-width="2"
                                      stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
                                      d="M20.854 5.182h14.584l-6.105 11.959h-14.5L7.167.963H1">
                                </path>
                                <circle fill="none" stroke="white" stroke-width="2"
                                        stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
                                        cx="17.188" cy="23.682" r="2"></circle>
                                <circle fill="none" stroke="white"
                                        stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-miterlimit="10" cx="26.313" cy="23.682" r="2"></circle>
                            </svg>
                        </a>
                    </div>
                     @if (User.Identity.IsAuthenticated && @Roles.Provider.IsUserInRole(User.Identity.Name, "Admin"))
                        {
                    <div class="controll-game">
                        @Html.ActionLink("Редактировать", "EditGame", "Game", new { @id = Model.GameId }, new { @class = "addlinkbutton find-game-btn" })
                        @Html.ActionLink("Удалить", "RemoveGame", "Game", new { @id = Model.GameId }, new { @class = "addlinkbutton find-game-btn" })
                    </div>
                        }
                    
                </div>
            </div>
            <div class="gameprofile-right-item">
                <p class="blocktitle">Описание</p>
                <p class="gamedescription">@Model.Description</p>
            </div>
            <div class="gameprofile-right-item">
                <p class="blocktitle">Минимальные системные требования</p>
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#panel1">Windows</a></li>
                    <li><a data-toggle="tab" href="#panel2">Mac</a></li>
                </ul>
                <div class="tab-content">
                    <div id="panel1" class="tab-pane fade in active">
                        <div class="tab-item">
                            <div class="tab-key">OC</div>
                            <div class="tab-value">64-bit Windows 7/8.1/10</div>
                        </div>
                        <div class="tab-item">
                            <div class="tab-key">Процессор</div>
                            <div class="tab-value">
                                AMD FX-6100/Intel i3-3220 or Equivalent
                            </div>
                        </div>
                        <div class="tab-item">
                            <div class="tab-key">Оперативная память</div>
                            <div class="tab-value">8 GB ОЗУ</div>
                        </div>
                        <div class="tab-item">
                            <div class="tab-key">Видеокарта</div>
                            <div class="tab-value">AMD Radeon HD 7750, NVIDIA GeForce GTX 650 or Equivalent</div>
                        </div>
                        <div class="tab-item">
                            <div class="tab-key">DirectX</div>
                            <div class="tab-value">Версии 11</div>
                        </div>
                        <div class="tab-item">
                            <div class="tab-key">Жесткий диск</div>
                            <div class="tab-value">55 GB</div>
                        </div>
                    </div>
                    <div id="panel2" class="tab-pane fade">
                        <div class="tab-item">
                            <div class="tab-key">OC</div>
                            <div class="tab-value">64-bit Windows 7/8.1/10</div>
                        </div>
                        <div class="tab-item">
                            <div class="tab-key">Процессор</div>
                            <div class="tab-value">
                                AMD FX-6100/Intel i3-3220 or Equivalent
                            </div>
                        </div>
                        <div class="tab-item">
                            <div class="tab-key">Оперативная память</div>
                            <div class="tab-value">8 GB ОЗУ</div>
                        </div>
                        <div class="tab-item">
                            <div class="tab-key">Видеокарта</div>
                            <div class="tab-value">AMD Radeon HD 7750, NVIDIA GeForce GTX 650 or Equivalent</div>
                        </div>
                        <div class="tab-item">
                            <div class="tab-key">DirectX</div>
                            <div class="tab-value">Версии 11</div>
                        </div>
                        <div class="tab-item">
                            <div class="tab-key">Жесткий диск</div>
                            <div class="tab-value">55 GB</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gameprofile-right-item">
                @Html.Action("_GameCommentPartial", "Game", new { id = Model.GameId })
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/workWithCookie.js" type="text/javascript"></script>
<script>
    let buybutton = document.getElementById("addtocart");
    buybutton.addEventListener("click", () => {
        count++;
        ordercount.innerText = count;
        ordercount.classList.add('displayblock');
        let productID = buybutton.getAttribute("data-gameId");
        let item = {};
        if (getCookie("CartProducts")) {
            let arr = JSON.parse(getCookie("CartProducts"));
            if (arr.some(i => i.id === productID)) {
                arr.forEach(i => {
                    if (i.id === productID) {
                        i.count += 1;
                    }
                })
                setCookie("CartProducts", JSON.stringify(arr));
            } else {
                item = { id: productID, count: 1 };
                arr.push(item);
                setCookie("CartProducts", JSON.stringify(arr));
            }
        } else {
            item = { id: productID, count: 1 };
            setCookie("CartProducts", JSON.stringify([item]));
        }
        let arrID = [];
    });
</script>
