@using Entities;
@model Game
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Ordering";
}
<div class="catalog-container">
    <p class="ordertitle">Оформление заказа</p>
    <a href="@Url.Action(" GameProfile","Game", new { id=Model.GameId})" class="catalog-item order">
        <div class="catalog-img">
            @Html.Raw("<img class='gamesimg' src=\"data:image/jpeg;base64,"
                            + Model.Image + "\" />")
        </div>
        <div class="catalog-name">
            <span class="game-title">@Model.Name</span>
            <div class="catalog-category">
                <img src="~/Content/images/game-category.png" alt="gamecategory" class="gamecategory">
                <p>@Model.Category</p>
            </div>
        </div>
        <div class="catalog-price"><span>@Model.Price.ToString("#.##")</span><img src="~/Content/images/rub.png" alt="rub"></div>
    </a>
</div>
@Html.Action("OrderFormPartial", "Order", new { id = Model.GameId })


