@using Entities;
@model IEnumerable<Game>
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "STEAMGAMES";
}
<div class="backposition">
    <div class="main-background-image"></div>
    <p class="shoptitle">
        STEAMGAMES
    </p>
    <p class="shoptitle2">Добро пожаловать в интернет-магазин компьютерных игр!</p>
</div>
<div class="main-container main">
    <div class="catalog-container main">
        <h3>Популярные</h3>
        @*<div class="game-sort main" id="game-sort-main">
            <div class="game-sort-item">Новинки</div>
            <div class="game-sort-item">Ожидаемые</div>
        </div>*@

            @foreach (var g in @Model)
            {
                <a href="@Url.Action("GameProfile","Game", new { id = g.GameId})" class="catalog-item main">
                    <div class="catalog-img">
                        @Html.Raw("<img class='gamesimg' src=\"data:image/jpeg;base64,"
                        + g.Image + "\" />")
                    </div>
                    <div class="catalog-name">
                        <span>@g.Name</span>
                        <div class="catalog-category">
                            <img src="~/Content/images/game-category.png" alt="gamecategory" class="gamecategory">
                            <span>@g.Category</span>
                        </div>
                    </div>
                    <div class="catalog-price"><span>@g.Price.ToString("#.##")</span><img src="~/Content/images/rub.png" alt="rub"></div>
                </a>
            }
   
    </div>
    <div class="catalog-container main discount">
        <h3>Скидки</h3>
        @*<div class="game-sort main">
            <div class="game-sort-item">Новинки</div>
            <div class="game-sort-item">Ожидаемые</div>
        </div>*@
        @foreach (var g in @Model)
        {
            <a href="@Url.Action("GameProfile","Game", new { id = g.GameId})" class="catalog-item main">
                <div class="catalog-img">
                    @Html.Raw("<img class='gamesimg' src=\"data:image/jpeg;base64,"
                    + g.Image + "\" />")
                </div>
                <div class="catalog-name">
                    <span>@g.Name</span>
                    <div class="catalog-category">
                        <img src="~/Content/images/game-category.png" alt="gamecategory" class="gamecategory">
                        <span>@g.Category</span>
                    </div>
                </div>
                <div class="catalog-price"><span>@g.Price.ToString("#.##")</span><img src="~/Content/images/rub.png" alt="rub"></div>
            </a>
        }
    </div>
</div>
<script>
    let catalogItemsContainer = document.getElementById('game-sort-main');
    let catalogItems = document.querySelectorAll(".game-sort-item");
    let catalogs = document.querySelectorAll(".games-container");

    catalogItems[0].classList.add("active");
    catalogItemsContainer.addEventListener("click", (e) => {
        if (e.target !== e.currentTarget) {
            catalogItems.forEach( item => {
                if (item.classList.contains('active')) {
                    item.classList.remove("active");
                }
            })
            e.target.classList.add("active");
            if (catalogItems[0].classList.contains('active')) {
                catalogs[0].classList.add("displayblock");
                catalogs[1].classList.remove("displayblock");
                catalogs[1].classList.add("displaynone");
            }
            if (catalogItems[1].classList.contains('active')) {
                catalogs[1].classList.add("displayblock");
                catalogs[0].classList.remove("displayblock");
                catalogs[0].classList.add("displaynone");
            }
        }
});
</script>