@using Entities;
@model IEnumerable<Game>
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "STEAMGAMES";
}
@*@if (User.Identity.IsAuthenticated && @Roles.Provider.IsUserInRole(User.Identity.Name, "Admin"))
{
    <div class="signupcontainer">
        @foreach (var p in @Model)
        {
            <div>
                <h3>@p.Login </h3>
                <h5>@p.Email</h5>
                @Html.Raw("<img class='userimg' src=\"data:image/jpeg;base64,"
                        + p.Avatar + "\" />")
            </div>
        }
    </div>
}*@
<div class="backposition">
    <div class="main-background-image"></div>
    <p class="shoptitle">
        STEAMGAMES
    </p>
</div>

<div class="main-container main">
    <div class="catalog-container main">
        <h3>Игры</h3>
        <div class="game-sort main">
            <div class="game-sort-item">Новинки</div>
            <div class="game-sort-item">Ожидаемые</div>
        </div>
        @foreach (var g in @Model)
        {
        <a href="@Url.Action("GameProfile","Game", new { id = g.GameId})" class="catalog-item main">
                    <div class="catalog-img">
            @Html.Raw("<img class='gamesimg' src=\"data:image/jpeg;base64,"
            + g.Image + "\" />")
        </div>
            <div class="catalog-name">
                <span>@g.Name</span>
                <div class="catalog-category">
                    <img src="~/Content/images/game-category.png" alt="gamecategory" class="gamecategory">
                    <span>@g.Producer</span>
                </div>
            </div>
            <div class="catalog-price"><span>@g.Price.ToString("#.##")</span><img src="~/Content/images/rub.png" alt="rub"></div>
        </a>
        }
    </div>
    <div class="catalog-container main discount">
        <h3>Скидки</h3>
        <div class="game-sort main">
            <div class="game-sort-item">Новинки</div>
            <div class="game-sort-item">Ожидаемые</div>
        </div>
        @foreach (var g in @Model)
        {
            <a href="@Url.Action("GameProfile","Game", new { id = g.GameId})" class="catalog-item main">
                <div class="catalog-img">
                    @Html.Raw("<img class='gamesimg' src=\"data:image/jpeg;base64,"
                    + g.Image + "\" />")
                </div>
                <div class="catalog-name">
                    <span>@g.Name</span>
                    <div class="catalog-category">
                        <img src="~/Content/images/game-category.png" alt="gamecategory" class="gamecategory">
                        <span>@g.Producer</span>
                    </div>
                </div>
                <div class="catalog-price"><span>@g.Price.ToString("#.##")</span><img src="~/Content/images/rub.png" alt="rub"></div>
            </a>
        }
    </div>
</div>